<!DOCTYPE html>
<html lang = "en">
{% block head %}
  <head>
    <meta charset = "UTF-8">
    <title> {% block title %} {%endblock%} -|- BhaloChele </title>
  </head>
  {%endblock%}
  	<font face='Impact' color='maroon'
<body>
  {% block response %}
    {% set messages = get_flashed_messages() %}
      {% for message in messages %}
        <p>{{message}}</p>
      {% endfor %}
  {%endblock%}

	{% block content %}


  {%endblock%}</font>

  {% block footer %}
  <center>
	<font color='blue'>&copy; Team BhaloChele (Good Boy).<br>
	Yinon Chan, Shin Bamba, Hasif Ahmed, Vincent Chi
  </center>
	{% endblock %}
</body>
</html>
